body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: black; /* Dark background color */
    color: #ffffff; /* Light text color */
}

#num-checkbox {
    margin-bottom: 10px;
    color: #ffffff;
     /* Light text color for input label */
}

#checkbox-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

.checkbox-item {
    margin-bottom: 5px;
}

.checkbox-item input {
    margin-right: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .checkbox-item {
        display: block; /* Change to block-level to stack checkboxes vertically */
        margin-bottom: 10px;
    }

    .checkbox-item input {
        margin-right: 0; /* Remove right margin for better spacing */
    }
}
